#bookContainer
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#mainImg2 {
  width: 100% !important; 
  max-width: 600px;
  height: 200px !important;  
  object-fit: cover;  
  border-radius: 8px;
  display: block;
}